# Dependencies
node_modules/

# Environment variables (security risk to commit these!)
.env

# Terraform internal files (don't commit these!)
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac system files
.DS_Store